 table,th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
body{
  background: url(images/fondo1.jpg) no-repeat center fixed;
  background-size: cover;

}
h2{
  text-align: center;
  text-decoration: underline;
}
p{
  text-align: center;
}

h1{
  color: blue;
  text-decoration: underline double;
  text-align: center;
}
.trayectoria{
  text-align: center;
}
#unico {
  font-style: oblique;
  font-weight: bold;
}
