table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
body{
  background: url(images/fondo1.jpg) no-repeat center fixed;
  background-size: cover;

}
h2,p{
  text-align: center;
}

h1{
  color: blue;
  text-decoration: underline double;
  text-align: center;
}
#tv{
  text-align: center;
}
#rad{
  text-align: center;
}
